// @Author: Joe Iannone <josephiannone>
// @Date:   2020-03-29T20:50:42-04:00
// @Filename: jmi0.github.scss
// @Last modified by:   josephiannone
// @Last modified time: 2020-03-30T08:30:50-04:00



* {
  margin: 0;
}

body {

}

html, body {
  height: 100%;
  weight: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  left: 0;
  top: 0;
}

.center {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#profile-container {
  padding: 10px;
  //z-index: 9999;
  display: none;
  min-width: 100%;

  #greeting {
    font-size: 30px;
  }

  #description {
    font-size: 22px;
  }

  div {
    font-weight: lighter;
    padding-top: 10px;
  }

  #profilepic {
    border-radius: 50%;
    width: 110px;
  }

}

#social-links-container {
  font-size: 33px;
  a {
    padding: 5px;
    text-decoration: none;
    color: #36454f;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
  }

  a:hover {
    color: black;
  }

}

#bgimage-container {
  background: url('../img/twinpeaks2.jpg');
  opacity: .2;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
  -webkit-transition: background 3s;
  -moz-transition: background 3s;
  -o-transition: background 3s;
  transition: background 3s;
}

#bgimage-backdrop-container {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -2;
  opacity: .1;
  background-color: black;
  -webkit-transition: background 3s;
  -moz-transition: background 3s;
  -o-transition: background 3s;
  transition: background 3s;
}

#tpicon-container {
  bottom: 0;
  padding-left: 13px;
  position: absolute;
  img {
    width: 55px;
  }
}


#tpicon-container:hover {
  cursor: pointer;
}
