html {
  height: 100%;
  weight: 100%;
  body {
    background: linear-gradient(to top right, #ccffcc 0%, #ffffff 95%);
  }
}

#profile-container {
  display: none;
  position: absolute;

  #greeting {
    font-size: 22px;
  }

  #description {
    font-size: 14px;
  }

  div {
    font-weight: lighter;
    padding-top: 10px;
  }

  #profilepic {
    border-radius: 50%;
    width: 100px;
  }

  #social-links-container {

    font-size: 30px;

    a {
      padding: 5px;
      text-decoration: none;
      color: black;
    }

    a:hover {
      opacity: .7;
    }

  }
}
