* {
  margin: 0;
}

html, body {
  height: 100%;
  weight: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  left: 0;
  top: 0;
}

#profile-container {
  display: none;
  position: absolute;

  #greeting {
    font-size: 22px;
  }

  #description {
    font-size: 14px;
  }

  div {
    font-weight: lighter;
    padding-top: 10px;
  }

  #profilepic {
    border-radius: 50%;
    width: 100px;
  }

  #social-links-container {

    font-size: 30px;

    a {
      padding: 5px;
      text-decoration: none;
      color: black;
      opacity: .6;
    }

    a:hover {
      opacity: 1;
    }

  }
}
